<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Parking Slot</h2>
        <form class="login-form" [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="text-uppercase">Total parking slot *</label>
            <input type="text" class="form-control" formControlName="total_parking" [(ngModel)]="totalParkingSpace" disabled="$1">
          </div>

          <div class="form-group">
            <label class="text-uppercase">Cars enter Reserve parking *</label>
            <input type="number" class="form-control" formControlName="reserve_parking" [(ngModel)]="carsEnterInReserveParking" min=0 oninput="validity.valid||(value='');">
          </div>
          <div class="form-group">
            <label class="text-uppercase">Cars enter Non-Reserve parking *</label>
            <input type="number" class="form-control" formControlName="non_reserve_parking" [(ngModel)]="carsEnterInNonReserveParking" min=0 oninput="validity.valid||(value='');">
          </div>

          <div class="form-group">
            <label class="text-uppercase">Cars left Reserve parking *</label>
            <input type="number" class="form-control" formControlName="left_reserve_parking" [(ngModel)]="carsExitInReserveParking" min=0 oninput="validity.valid||(value='');">
          </div>
          <div class="form-group">
            <label class="text-uppercase">Cars left Non-Reserve parking *</label>
            <input type="number" class="form-control" formControlName="left_non_reserve_parking" [(ngModel)]="carsExitInNonReserveParking" min=0 oninput="validity.valid||(value='');">
          </div>


          <div class="form-group">
            <label class="text-uppercase">Result</label>
            <textarea class="form-control" style="overflow:auto;resize:none;color: red;" formControlName="result" [(ngModel)]="output" rows="8" disabled="$1"></textarea>
          </div>
          <button [disabled]="!inquiryForm.valid" type="submit" class="btn btn-login float-right">Submit</button>
        </form>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>